@use 'breakpoints' as *;

.c-button-cta {
  display: grid;
  place-items: center;
  width: 220px;
  height: 40px;
  border: 1px solid var(--color-main);
  color: var(--color-main);
  position: relative;
  transition: border-width .3s ease, background-color .3s ease, color .3s ease;

  &::before,
  &::after {
    content: "";
    transition: width .3s ease, height .3s ease, background-color .3s ease;
  }

  &::before {
    width: 14px;
    height: 14px;
    background-color: var(--color-main);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;
    top: calc(50% + 8px);
    left: calc(50% + 98px);
    transform: translate(-50%, -50%);
  }

  &::after {
    width: 100%;
    height: 100%;
    background-color: var(--color-base);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
  }

  &--contact:disabled {
    border-color: #999;
    color: #555;

    &::before {
      background-color: #555;
    }
  }
}

@include mq() {
  .c-button-cta {
    width: 260px;
    height: 50px;

    &::before {
      width: 16px;
      height: 16px;
      top: calc(50% + 11px);
      left: calc(50% + 115px);
    }
  }
}

@media (any-hover: hover) {
  .c-button-cta {
    &:hover {
      border-width: 3px;
      background-color: var(--color-main);
      color: var(--color-base);

      &::before {
        background-color: var(--color-base);
      }

      &::after {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background-color: var(--color-main);
      }
    }

    &--contact:disabled {
      &:hover {
        color: #555;

        &::before {
          background-color: #555;
        }
      }
    }
  }
}
