/* -----------------------------------
  global
----------------------------------- */

/* global > color
----------------------------------- */
:root {
  --color-base: #333;
  --color-green: #003300;
  --color-sub-green1: #e7efe7;
  // --color-sub-green2: #7e997e;
  --color-sub-green2: #4f6f4f;
  // --color-sub-green2: #5f7f5f; // 活動実績の背景だけこの色
  --color-white: #fff;

  --color-bg-base: #fffcf6;
}

/* global > content-width
----------------------------------- */
:root {
  --width-content: 1000px;
  --width-content-s: 800px;
}

/* global > content-width
----------------------------------- */
:root {
  --width-sp: 390px;
  --width-pc: 1000px;
}

/* global > font
----------------------------------- */
:root {
  --font-family-base: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --font-family-serif: "Noto Serif JP", serif;
  --font-family-en: "Italiana", sans-serif;
}
