@use 'breakpoints' as *;

  // KVフェードインアニメーション
  .fade-in-up {
    opacity: 0;
    transform: translateY(7px);
  }

  body.loaded .fade-in-up {
    animation: fadeInUp 1s ease forwards;

    &--delay-1 {
      animation-delay: 0.3s;
    }

    &--delay-2 {
      animation-delay: 1s;
    }

    &--delay-3 {
      animation-delay: 1.5s;
    }

    &--delay-4 {
      animation-delay: 1.8s;
    }

    &--delay-5 {
      animation-delay: 2.1s;
    }

    &--delay-6 {
      animation-delay: 2.4s;
    }

    &--delay-7 {
      animation-delay: 3.0s;
    }

    &--delay-8 {
      animation-delay: 3.5s;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(7px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }