@use 'breakpoints' as *;

// news（お知らせ・一般ページ）
.single-content {
  text-align: justify;
  line-height: 1.85;

  @include mq() {
  }

  h2 {
    padding-block: 8px;
    padding-inline: 16px;
    background-color: var(--color-sub-green2);
    color: var(--color-white);
    font-family: var(--font-family-serif);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;

    &:not(:first-of-type) {
      margin-block-start: 40px;
    }

    @include mq() {
      // padding: 5px 20px;
      // margin: 40px 0 32px;
      // font-size: 20px;

      &:not(:first-of-type) {
        margin-block-start: 48px;
      }
    }
  }

  h3 {
    border-bottom: 1px solid var(--color-sub-green2);
    margin-block-start: 32px;
    color: var(--color-green);
    font-family: var(--font-family-serif);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;

    @include mq() {
      // margin: 32px 0 24px;
    }
  }

  p {
    margin-block: 24px;

    @include mq() {
      // margin: 24px 0 32px;
    }
  }

  img + p {
    margin-block-start: 24px;

    @include mq() {
      // margin-top: 32px;
    }
  }

  img {
    &:last-child {
      margin-block-end: 24px;

      @include mq() {
        // margin-bottom: 32px;
      }
    }
  }

  img + img {
    margin-block-start: 24px;

    @include mq() {
      // margin-top: 32px;
    }
  }

  ul,
  ol {
    margin-block: 24px;
  }

  ul li {
    padding-inline-start: 1.25em;
    position: relative;

    &::before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: currentColor;
      position: absolute;
      top: 0.75em;
      left: 0.25em;
    }
  }

  ol {
    counter-reset: item-counter 0;

    li {
      padding-inline-start: 1.25em;
      position: relative;
      counter-increment: item-counter 1;

      &::before {
        content: counter(item-counter) ".";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  a {
    color: #0075ff;
    text-decoration: underline;
  }

  // microCMSリッチエディタのスタイルを許可
  span[style] { // inline styleで色がついたテキストの表示を許可
    all: unset;
    font-weight: inherit;
    text-decoration: inherit;
    color: inherit;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }
}

// otayori（お便り・保護者限定ページ）
.otayori-single-content {
  padding-bottom: 8px;
  text-align: justify;

  @include mq() {
    padding-bottom: 28px;
  }

  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin: 32px 0 24px;
    color: var(--color-blue);
    font-size: 16px;
    font-weight: 700;

    &:not(:first-of-type) {
      margin-top: 40px;
    }

    @include mq() {
      margin: 40px 0 32px;
      font-size: 20px;

      &:not(:first-of-type) {
        margin-top: 48px;
      }
    }
  }

  h3 {
    display: flex;
    gap: 10px;
    margin: 24px 0 16px;
    color: var(--color-blue);
    font-weight: 700;

    @include mq() {
      margin: 32px 0 24px;
    }

    &::before {
      content: "";
      width: 19px;
      height: 10px;
      border-radius: 2px;
      margin-top: 8px;
      background-color: currentColor;

      @include mq() {
        width: 20px;
        height: 14px;
        border-radius: 3px;
        margin-top: 7px;
      }
    }
  }

  p {
    margin: 10px 0 24px;

    @include mq() {
      margin: 24px 0 32px;
    }
  }

  img + p {
    margin-top: 24px;

    @include mq() {
      margin-top: 32px;
    }
  }

  img {
    &:last-child {
      margin-bottom: 24px;

      @include mq() {
        margin-bottom: 32px;
      }
    }
  }

  img + img {
    margin-top: 24px;

    @include mq() {
      margin-top: 32px;
    }
  }

  a {
    text-decoration: underline;
  }
}
