@use 'breakpoints' as *;

// h2の共通スタイル
.c-title {
  display: flex;
  flex-direction: column-reverse;
}

.c-title-ja {
  font-family: var(--font-family-serif);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;

  @include mq() {
    font-size: 32px;
  }

  &--white {
    color: var(--color-white);
  }
}

.c-title-en {
  color: var(--color-green);
  font-family: var(--font-family-en);
  font-size: 18px;

  @include mq() {
    font-size: 24px;
  }

  &--white {
    color: var(--color-white);
  }

}
