@charset "UTF-8";
/* -----------------------------------
  global
----------------------------------- */
/* global > color
----------------------------------- */
:root {
  --color-base: #333;
  --color-green: #003300;
  --color-sub-green1: #e7efe7;
  --color-sub-green2: #4f6f4f;
  --color-white: #fff;
  --color-bg-base: #fffcf6;
}

/* global > content-width
----------------------------------- */
:root {
  --width-content: 1000px;
  --width-content-s: 800px;
}

/* global > content-width
----------------------------------- */
:root {
  --width-sp: 390px;
  --width-pc: 1000px;
}

/* global > font
----------------------------------- */
:root {
  --font-family-base: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --font-family-serif: "Noto Serif JP", serif;
  --font-family-en: "Italiana", sans-serif;
}

/* -----------------------------------
  foundation
----------------------------------- */
/* foundation > base
----------------------------------- */
html {
  font-size: 100%;
  scroll-padding-top: 60px;
}
@media screen and (min-width: 768px) {
  html {
    scroll-padding-top: 100px;
  }
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-base);
  font-family: var(--font-family-base);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.7;
}
body.no-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* -----------------------------------
  utility
----------------------------------- */
/* screen reader only */
.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* uppercase */
.u-uppercase {
  text-transform: uppercase;
}

/* lowercase */
.u-lowercase {
  text-transform: lowercase;
}

/* disabled link */
.u-disabled-link {
  pointer-events: none;
  text-decoration: none;
  opacity: 0.3;
  cursor: default;
}

/* break */
.u-break {
  display: inline-block;
}

/* no-sp */
.u-no-sp {
  display: none;
}

@media screen and (min-width: 768px) {
  .u-no-sp {
    display: block;
  }
}
/* no-pc */
@media screen and (min-width: 768px) {
  .u-no-pc {
    display: none;
  }
}
/* 無効なリンク */
.u-disabled {
  color: #ccc;
  pointer-events: none;
}

/* 一時的な非表示 */
.u-display-none {
  display: none;
}

/* -----------------------------------
  layout
----------------------------------- */
/* layout > container
----------------------------------- */
.l-container,
.l-container-s {
  width: calc(350px / var(--width-sp) * 100vw);
  margin: auto;
}

@media screen and (min-width: 768px) {
  .l-container,
.l-container-s {
    width: 100%;
    max-width: calc(var(--width-content) + 80px);
    padding: 0 40px;
  }
  .l-container-s {
    max-width: calc(var(--width-content-s) + 80px);
  }
}
/* layout > section
----------------------------------- */
.l-section {
  padding-block: 80px;
}

@media screen and (min-width: 768px) {
  .l-section {
    padding-block: 120px;
  }
}
/* layout > section-body
----------------------------------- */
.l-section-body {
  -webkit-margin-before: 32px;
          margin-block-start: 32px;
}

@media screen and (min-width: 768px) {
  .l-section-body {
    -webkit-margin-before: 48px;
            margin-block-start: 48px;
  }
}
.c-title {
  display: flex;
  flex-direction: column-reverse;
}

.c-title-ja {
  font-family: var(--font-family-serif);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .c-title-ja {
    font-size: 32px;
  }
}
.c-title-ja--white {
  color: var(--color-white);
}

.c-title-en {
  color: var(--color-green);
  font-family: var(--font-family-en);
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .c-title-en {
    font-size: 24px;
  }
}
.c-title-en--white {
  color: var(--color-white);
}

.c-heading-md {
  font-family: var(--font-family-serif);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .c-heading-md {
    font-size: 24px;
  }
}
.c-heading-md--green {
  color: var(--color-green);
}

.c-heading-sm {
  font-family: var(--font-family-serif);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .c-heading-sm {
    font-size: 20px;
  }
}
.c-heading-sm--green {
  color: var(--color-green);
}
.c-heading-sm--sub-green {
  color: var(--color-sub-green2);
}

.c-about-list {
  display: grid;
  gap: 16px;
  -webkit-margin-before: 24px;
          margin-block-start: 24px;
}

.c-about-list-item {
  -webkit-padding-after: 12px;
          padding-block-end: 12px;
  border-bottom: 1px solid var(--color-sub-green2);
}

.c-about-list-term {
  color: var(--color-sub-green2);
  font-size: 14px;
  font-weight: 400;
}

.c-about-list-description {
  -webkit-margin-before: 8px;
          margin-block-start: 8px;
}

.c-faq-list {
  display: grid;
  gap: 40px;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .c-faq-list {
    gap: 56px;
  }
}

.c-faq-item {
  display: grid;
  gap: 24px;
}

.c-faq-q,
.c-faq-a {
  padding-inline: 46px 16px;
  position: relative;
}
.c-faq-q::before,
.c-faq-a::before {
  font-family: var(--font-family-serif);
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 16px;
}

.c-faq-q {
  padding-block: 12px;
  background-color: var(--color-sub-green2);
  color: var(--color-white);
  font-family: var(--font-family-serif);
  font-weight: 700;
}
.c-faq-q::before {
  content: "Q.";
  color: var(--color-white);
  top: 0.45em;
}

.c-faq-a::before {
  content: "A.";
  color: var(--color-sub-green2);
  top: -0.175em;
}

.c-news-card {
  display: flex;
  flex-direction: column;
  padding-block: 24px;
  padding-inline: 16px;
  box-shadow: 0px 4px 12px 0 rgba(1, 51, 1, 0.15);
}
@media (any-hover: hover) {
  .c-news-card:hover img {
    transform: scale(1.03);
  }
}

.c-news-card-thumbnail {
  overflow: hidden;
}
.c-news-card-thumbnail img {
  height: auto;
  aspect-ratio: 318/208;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
}

.c-news-card-meta {
  display: flex;
  align-items: center;
  gap: 12px;
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .c-news-card-meta {
    gap: 14px;
  }
}

.c-news-card-category {
  padding-block: 4px;
  padding-inline: 10px;
  background-color: var(--color-sub-green2);
  color: var(--color-white);
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .c-news-card-category {
    font-size: 14px;
  }
}

.c-news-card-date {
  font-size: 14px;
}

.c-news-card-title {
  -webkit-margin-before: 24px;
          margin-block-start: 24px;
  text-align: left;
  line-height: 1.5;
}

.single-content {
  text-align: justify;
  line-height: 1.85;
}
.single-content h2 {
  padding-block: 8px;
  padding-inline: 16px;
  background-color: var(--color-sub-green2);
  color: var(--color-white);
  font-family: var(--font-family-serif);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}
.single-content h2:not(:first-of-type) {
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
}
@media screen and (min-width: 768px) {
  .single-content h2 {
    padding-block: 10px;
    padding-inline: 24px;
    font-size: 24px;
  }
  .single-content h2:not(:first-of-type) {
    -webkit-margin-before: 56px;
            margin-block-start: 56px;
  }
}
.single-content h3 {
  border-bottom: 1px solid var(--color-sub-green2);
  -webkit-margin-before: 32px;
          margin-block-start: 32px;
  color: var(--color-green);
  font-family: var(--font-family-serif);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .single-content h3 {
    -webkit-margin-before: 40px;
            margin-block-start: 40px;
    font-size: 20px;
  }
}
.single-content p {
  margin-block: 24px;
}
@media screen and (min-width: 768px) {
  .single-content p + p {
    margin-block: 24px;
  }
}
.single-content img + p {
  -webkit-margin-before: 24px;
          margin-block-start: 24px;
}
.single-content img:last-child {
  -webkit-margin-after: 24px;
          margin-block-end: 24px;
}
.single-content img + img {
  -webkit-margin-before: 24px;
          margin-block-start: 24px;
}
.single-content ul,
.single-content ol {
  margin-block: 24px;
}
.single-content ul li {
  -webkit-padding-start: 1.25em;
          padding-inline-start: 1.25em;
  position: relative;
}
.single-content ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: currentColor;
  position: absolute;
  top: 0.725em;
  left: 0.25em;
}
.single-content ol {
  counter-reset: item-counter 0;
}
.single-content ol li {
  -webkit-padding-start: 1.25em;
          padding-inline-start: 1.25em;
  position: relative;
  counter-increment: item-counter 1;
}
.single-content ol li::before {
  content: counter(item-counter) ".";
  position: absolute;
  top: 0;
  left: 0;
}
.single-content a {
  color: #0075ff;
  text-decoration: underline;
}
.single-content span[style] {
  all: unset;
  font-weight: inherit;
  text-decoration: inherit;
  color: inherit;
}
.single-content strong {
  font-weight: bold;
}
.single-content em {
  font-style: italic;
}
.single-content u {
  text-decoration: underline;
}

.otayori-single-content {
  padding-bottom: 8px;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .otayori-single-content {
    padding-bottom: 28px;
  }
}
.otayori-single-content h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid;
  margin: 32px 0 24px;
  color: var(--color-blue);
  font-size: 16px;
  font-weight: 700;
}
.otayori-single-content h2:not(:first-of-type) {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .otayori-single-content h2 {
    margin: 40px 0 32px;
    font-size: 20px;
  }
  .otayori-single-content h2:not(:first-of-type) {
    margin-top: 48px;
  }
}
.otayori-single-content h3 {
  display: flex;
  gap: 10px;
  margin: 24px 0 16px;
  color: var(--color-blue);
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .otayori-single-content h3 {
    margin: 32px 0 24px;
  }
}
.otayori-single-content h3::before {
  content: "";
  width: 19px;
  height: 10px;
  border-radius: 2px;
  margin-top: 8px;
  background-color: currentColor;
}
@media screen and (min-width: 768px) {
  .otayori-single-content h3::before {
    width: 20px;
    height: 14px;
    border-radius: 3px;
    margin-top: 7px;
  }
}
.otayori-single-content p {
  margin: 10px 0 24px;
}
@media screen and (min-width: 768px) {
  .otayori-single-content p {
    margin: 24px 0 32px;
  }
}
.otayori-single-content img + p {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .otayori-single-content img + p {
    margin-top: 32px;
  }
}
.otayori-single-content img:last-child {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .otayori-single-content img:last-child {
    margin-bottom: 32px;
  }
}
.otayori-single-content img + img {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .otayori-single-content img + img {
    margin-top: 32px;
  }
}
.otayori-single-content a {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */