<section class="about-organization-profile">
  <div class="l-container-s">
    <div class="l-section">
      <div class="about-organization-profile-content">
        <h2 class="about-organization-profile-title c-heading-sm c-heading-sm--green">団体概要</h2>
        <div class="about-organization-profile-list">
          <dl class="c-about-list">
            <div class="c-about-list-item">
              <dt class="c-about-list-term">法人名</dt>
              <dd class="c-about-list-description">Oita Campus Link</dd>
            </div><!-- /.c-about-list-item -->
            <div class="c-about-list-item">
              <dt class="c-about-list-term">設立</dt>
              <dd class="c-about-list-description">2025年</dd>
            </div><!-- /.c-about-list-item -->
            <div class="c-about-list-item">
              <dt class="c-about-list-term">代表者</dt>
              <dd class="c-about-list-description">田北&emsp;ややこ</dd>
            </div><!-- /.c-about-list-item -->
            <div class="c-about-list-item">
              <dt class="c-about-list-term">活動拠点</dt>
              <dd class="c-about-list-description">関東圏（主に東京都）</dd>
            </div><!-- /.c-about-list-item -->
            <div class="c-about-list-item">
              <dt class="c-about-list-term">主な活動</dt>
              <dd class="c-about-list-description">学生×企業×社会連携</dd>
            </div><!-- /.c-about-list-item -->
            <div class="c-about-list-item">
              <dt class="c-about-list-term">法人格</dt>
              <dd class="c-about-list-description">2026年4月&nbsp;NPO法人化</dd>
            </div><!-- /.c-about-list-item -->
            <div class="c-about-list-item">
              <dt class="c-about-list-term">メールアドレス</dt>
              <dd class="c-about-list-description">info@〇〇〇〇.com</dd>
            </div><!-- /.c-about-list-item -->
            <div class="c-about-list-item">
              <dt class="c-about-list-term">公式サイトURL</dt>
              <dd class="c-about-list-description">https://〇〇〇〇.com</dd>
            </div><!-- /.c-about-list-item -->
          </dl>
        </div><!-- /.about-organization-profile-list -->
      </div><!-- /.about-organization-profile-content -->
    </div><!-- /.l-section -->
  </div><!-- /.l-container-s -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .about-organization-profile {
    margin-block-start: -1000px;
    background-color: var(--color-bg-base);
  }

  .about-organization-profile-content {
    padding-block: 40px;
    padding-inline: calc(20px / var(--width-sp) * 100vw);
    background-color: var(--color-white);
  }

  @include mq() {
    .about-organization-profile-content {
      padding-inline: 40px;
    }
  }
</style>
