---

---

<section class="about-links">
  <div class="l-container-s">
    <div class="about-links-content">
      <h2 class="about-links-title c-heading-sm c-heading-sm--green">定款・年次報告</h2>
      <p class="about-links-text">Oita Campus Linkの定款および年次報告は、以下のPDFよりご確認いただけます。</p>
      <section class="about-links-articles-of-incorporation">
        <h3 class="about-links-title-lv3">定款</h3>
        <a href="#" class="about-links-link">定款PDFを見る</a>
      </section>
      <section class="about-links-annual-reports">
        <h3 class="about-links-title-lv3">年次報告</h3>
        <ul class="about-links-annual-reports-list">
          <li class="about-links-annual-reports-item">
            <span class="about-links-link about-links-link--note">※2026年度の年次報告（事業・会計）を、事業年度終了後3か月以内に公開する予定です。</span>
          </li>
          <li class="about-links-annual-reports-item">
            <a href="#" class="about-links-link">2026年度 年次報告（事業・会計）PDFを見る</a>
          </li>
          <li class="about-links-annual-reports-item">
            <a href="#" class="about-links-link">2027年度 年次報告（事業・会計）PDFを見る</a>
          </li>
        </ul><!-- /.about-links-annual-reports -->
      </section>
    </div><!-- /.about-links-content -->
  </div><!-- /.l-container-s -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .about-links {
    background-color: var(--color-bg-base);
  }

  .about-links-content {
    padding-block: 40px;
    padding-inline: calc(20px / var(--width-sp) * 100vw);
    background-color: var(--color-white);
    text-align: justify;

    @include mq() {
      padding-inline: 40px;
    }
  }

  .about-links-text {
    margin-block-start: 32px;

    @include mq() {
      margin-block-start: 40px;
    }
  }

  .about-links-articles-of-incorporation {
    margin-block-start: 32px;
  }

  .about-links-title-lv3 {
    color: var(--color-sub-green2);
  }

  .about-links-link {
    display: inline-block;
    padding-block: 8px;
    text-decoration: underline;
    transition: color .3s;

    &--note {
      text-decoration: none;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #0075ff;
      }

      &--note:hover {
        color: var(--color-base);
      }
    }
  }

  .about-links-annual-reports {
    margin-block-start: 32px;
  }

  .about-links-annual-reports-item {
    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
  }
</style>
