---
import Layout from "../layouts/Layout.astro";
import Button from "../components/common/Button.astro";
import BreadCrumb from "../components/common/Breadcrumb.astro";
---

<Layout
  title="ページが見つかりません｜Oita Campus Link"
  ogType="website"
  description="お探しのページは見つかりませんでした。URLが変更されたか削除された可能性があります。トップページから目的のページをご確認ください。"
  noIndex="true"
>
  <div class="not-found">
    <main class="not-found-main">
      <div class="l-container-s">
        <h1 class="not-found-heading-lv1">404 Not Found</h1>
        <div class="not-found-content">
          <div class="not-found-description">
            <p class="not-found-text">お探しのページは見つかりませんでした。</p>
            <p class="not-found-text">URLが変更されたか、削除された可能性があります。<br>お手数ですが、以下のリンクから目的のページをご確認ください。</p>
          </div><!-- /.not-found-description -->

          <div class="not-found-btn">
            <Button
              buttonClass="c-btn"
              buttonUrl="/"
              buttonText="トップページへ戻る"
            />
          </div><!-- /.not-found-btn -->

          <ul class="not-found-list">
            <li class="not-found-item">
              <a href="/about">Oita Campus Linkについて</a>
            </li>
            <li class="not-found-item">
              <a href="/contact">お問い合わせはこちら</a>
            </li>
          </ul>
        </div><!-- /.not-found-content -->
      </div><!-- /.l-container-s -->

      <!-- breadcrumb -->
      <BreadCrumb />
    </main>
  </div><!-- /.not-found -->
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  .not-found {
    padding-block-start: 80px;
    margin-block-start: 60px;
  }

  .not-found-heading-lv1 {
    color: var(--color-green);
    font-family: var(--font-family-serif);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }

  .not-found-description {
    margin-block-start: 56px;
  }

  .not-found-text {
    text-align: justify;

    & + & {
      margin-block-start: 16px;
    }
  }

  .not-found-btn {
    margin-block-start: 56px;
    text-align: center;
  }

  .not-found-list {
    margin-block-start: calc(80px - 4px);
  }

  .not-found-item {
    text-align: center;

    a {
      display: inline-block;
      padding-block: 4px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  @include mq() {
    .not-found {
      padding-block-start: 100px;
      margin-block-start: 80px;
    }

    .not-found-heading-lv1 {
      font-size: 32px;
    }

    .not-found-description {
      margin-block-start: 64px;
    }

    .not-found-text {
      text-align: center;    }

    .not-found-btn {
      margin-block-start: 64px;
    }
  }
</style>
