---
import Layout from "../layouts/Layout.astro";
import HeadingLv1 from "../components/common/HeadingLv1.astro";
import AboutLead from "../components/about/AboutLead.astro";
import AboutMessage from "../components/about/AboutMessage.astro";
import AboutPhilosophy from "../components/about/AboutPhilosophy.astro";
import AboutOrganizationProfile from "../components/about/AboutOrganizationProfile.astro"
import AboutLinks from "../components/about/AboutLinks.astro"
import AboutMembers from "../components/about/AboutMembers.astro"
import BreadCrumb from "../components/common/Breadcrumb.astro";
import CtaArea from "../components/common/CtaArea.astro";
---

<Layout
  title="産学連携とは違う。学生と社会をつなぐ共創モデル｜Oita Campus Linkについて"
  ogType="website"
  description="Oita Campus Linkは学生のみで運営するNPO法人です。学生と企業・自治体をつなぎ、対等な共創が生まれる仕組みをつくることを目的としています。団体の理念や活動の背景をご紹介します。"
>
  <div class="about">
    <div class="about-heading-lv1">
      <HeadingLv1
        headingTitle="Oita Campus Linkについて"
        headingTitleEn="About Us"
        headingClass="l-container-s"
      />
    </div><!-- /.about-heading-lv1 -->

    <main class="about-main">
      <div class="about-content">
        <!-- about-lead -->
        <AboutLead />

        <!-- about-message -->
        <AboutMessage />

        <!-- about-philosophy -->
        <AboutPhilosophy />

        <!-- about-organization-profile -->
        <AboutOrganizationProfile />

        <!-- about-links -->
        <AboutLinks />

        <!-- about-members -->
        <AboutMembers />
      </div><!-- /.about-content -->

      <!-- breadcrumb -->
      <BreadCrumb
        breadcrumbClass="l-container-s"
        breadcrumbLists={[{ name: "Oita Campus Linkについて", path: "/about", schemaName: "Oita Campus Linkについて" }]}
        siteUrl="https://creative-basbousa-a8451a.netlify.app"
      />
    </main>

    <!-- cta-area -->
    <CtaArea />
  </div><!-- /.about -->
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  .about {

  }

  .about-heading-lv1 {

  }

  .about-main {

  }

  .about-content {
    margin-block-start: 56px;

    @include mq() {
      margin-block-start: 100px;
    }
  }

</style>
