---
import Layout from "../layouts/Layout.astro";
import HeadingLv1 from "../components/common/HeadingLv1.astro";
import ContactLead from "../components/page-contact/ContactLead.astro";
import ContactForm from "../components/page-contact/ContactForm.astro";

import BreadCrumb from "../components/common/Breadcrumb.astro";
---

<Layout
  title="よくある質問 about｜習志野市の幼稚園｜みもみ幼稚園"
  ogType="website"
  description="習志野市のみもみ幼稚園に関する、よくある質問をカテゴリー別にご紹介しています。預かり保育や給食から、子どもの成長に関することまで、安心してご利用いただけるよう丁寧にお答えしています。"
>
  <div class="contact">
    <div class="contact-heading-lv1">
      <HeadingLv1
        headingTitle="お問い合わせ"
        headingTitleEn="Contact"
      />
    </div><!-- /.contact-heading-lv1 -->

    <main class="contact-main">
      <div class="contact-content">
        <!-- contact-lead -->
        <ContactLead />

        <!-- contact-form -->
        <ContactForm />

      </div><!-- /.contact-content -->

      <!-- breadcrumb -->
      <BreadCrumb />
    </main>
  </div><!-- /.contact -->
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  .contact {

  }

  .contact-heading-lv1 {

  }

  .contact-main {

  }

  .contact-content {
    margin-block-start: 40px;
  }

</style>
