---
import Layout from "../layouts/Layout.astro";
import HeadingLv1 from "../components/common/HeadingLv1.astro";
import ContactLead from "../components/contact/ContactLead.astro";
import ContactForm from "../components/contact/ContactForm.astro";

import BreadCrumb from "../components/common/Breadcrumb.astro";
---

<Layout
  title="共創プロジェクト・協賛のお問い合わせ｜Oita Campus Link"
  ogType="website"
  description="企業・自治体との共創プロジェクトや協賛、取材などのお問い合わせはこちらから。Oita Campus Linkでは学生主体の社会連携活動を行っています。"
>
  <div class="contact">
    <div class="contact-heading-lv1">
      <HeadingLv1
        headingTitle="お問い合わせ"
        headingTitleEn="Contact"
        headingClass="l-container-s"
      />
    </div><!-- /.contact-heading-lv1 -->

    <main class="contact-main">
      <div class="contact-content">
        <!-- contact-lead -->
        <ContactLead />

        <!-- contact-form -->
        <ContactForm />

      </div><!-- /.contact-content -->

      <!-- breadcrumb -->
      <BreadCrumb
        breadcrumbClass="l-container-s"
        breadcrumbLists={[{ name: "お問い合わせ", path: "/contact", schemaName: "お問い合わせ" }]}
        siteUrl="https://ocl.or.jp"
      />
    </main>
  </div><!-- /.contact -->
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  .contact-content {
    margin-block-start: 56px;

    @include mq() {
      margin-block-start: 100px;
    }
  }
</style>
