---
import Layout from "../layouts/Layout.astro";
import TopKv from "../components/top/TopKv.astro";
import TopAbout from "../components/top/TopAbout.astro";
import TopActivities from "../components/top/TopActivities.astro";
import TopPartnership from "../components/top/TopPartnership.astro";
import TopNews from "../components/top/TopNews.astro";
import TopVoices from "../components/top/TopVoices.astro";
import TopFaq from "../components/top/TopFaq.astro";
import TopCorporatePartners from "../components/top/TopCorporatePartners.astro";

import CtaArea from "../components/common/CtaArea.astro";
---

<Layout
  title="産学連携とは違う。学生が社会と共創する機会をつくるNPO｜Oita Campus Link"
  ogType="website"
  description="Oita Campus Linkは、学生自身が運営し意思決定するNPO法人です。従来の産学連携とは異なる形で学生と企業・自治体をつなぎ、対等な共創が生まれる機会をつくることを目的としています。"
>
  <!-- top-kv -->
  <TopKv />

  <main class="top-main">
    <!-- top-about -->
    <TopAbout />

    <!-- top-activities -->
    <TopActivities />

    <!-- top-partnership -->
    <TopPartnership />

    <!-- top-news -->
    <TopNews />

    <!-- top-voices -->
    <TopVoices />

    <!-- top-faq -->
    <TopFaq />

    <!-- top-corporate-partners -->
    <TopCorporatePartners />
  </main>

  <!-- cta-area -->
  <CtaArea />
</Layout>
