---
import Button from "../common/Button.astro";
---

<section class="top-activities">
  <div class="l-container">
    <div class="l-section">
      <div class="top-activities-title">
        <div class="c-title">
          <h2 class="c-title-ja">活動紹介</h2>
          <span class="c-title-en" aria-hidden="true">Activities</span>
        </div><!-- /.c-title -->
      </div><!-- /.top-activities-title -->

      <div class="l-section-body">
        <ol class="top-activities-list">
          <li class="top-activities-item">
            <div class="top-activities-title-lv3">
              <div class="top-activities-step">
                <img src="../../../public/assets/images/top/text-top-activities-step1@2x.png" alt="Step 1" loading="lazy" decoding="async" width="84" height="35">
              </div><!-- /.top-activities-step -->
              <p class="top-activities-sub-title c-heading-sm c-heading-sm--sub-green">まずは出会いから</p>
              <h3 class="top-activities-main-title c-heading-md">交流会の企画・運営</h3>
            </div><!-- /.top-activities-title-lv3 -->
            <div class="top-activities-content">
              <div class="top-activities-image">
                <img src="../../../public/assets/images/top/pic-top-activities-01@2x.png" alt="" loading="lazy" decoding="async" width="310" height="200">
              </div><!-- /.top-activities-image -->
              <p class="top-activities-text">Oita Campus Linkが主催し、学生同士だけでなく社会人も交えた交流の場を開催しています。<br>学年や立場を越えた対話を通じて、互いの価値観や取り組みを知り、連携や挑戦につながる「出会いのきっかけ」を生み出します。</p>
            </div><!-- /.top-activities-content -->
          </li>
          <li class="top-activities-item">
            <div class="top-activities-title-lv3">
              <div class="top-activities-step top-activities-step--02">
                <img src="../../../public/assets/images/top/text-top-activities-step2@2x.png" alt="Step 1" loading="lazy" decoding="async" width="85" height="35">
              </div><!-- /.top-activities-step -->
              <p class="top-activities-sub-title c-heading-sm c-heading-sm--sub-green">連携の具体化</p>
              <h3 class="top-activities-main-title c-heading-md">学生と社会をつなぐ共創支援</h3>
            </div><!-- /.top-activities-title-lv3 -->
            <div class="top-activities-content">
              <div class="top-activities-image">
                <img src="../../../public/assets/images/top/pic-top-activities-02@2x.png" alt="" loading="lazy" decoding="async" width="310" height="200">
              </div><!-- /.top-activities-image -->
              <p class="top-activities-text">交流会などで生まれたつながりを起点に、企業・行政と学生が協力する取り組みが生まれています。<br>Oita Campus Linkは、企画の相談や情報整理、必要に応じた伴走を通じて、学生と社会の連携が形になるまでをサポートします。</p>
            </div><!-- /.top-activities-content -->
          </li>
        </ol>

        <div class="top-activities-btn">
          <Button
            buttonClass="c-btn c-btn--arrow"
            buttonUrl="/activities"
            buttonText="活動紹介を見る"
          />
        </div><!-- /.top-activities-btn -->
      </div><!-- /.l-section-body -->
    </div><!-- /.l-section -->
  </div><!-- /.l-container -->
</section>


<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .top-activities {

  }

  .top-activities-title {

  }

  .top-activities-list {
    display: grid;
    gap: 40px;
  }

  .top-activities-item {
    padding-block: 40px;
    padding-inline: calc(20px / var(--width-sp) * 100vw);
    background-color: var(--color-white);

  }

  .top-activities-title-lv3 {
    text-align: center;
  }

  .top-activities-step {

    img {
      width: 84px;
    }

    &--02 {
      img {
        width: 85px;
      }
    }
  }

  .top-activities-sub-title {
    margin-block-start: 16px;
  }

  .top-activities-main-title {
    margin-block-start: 4px;
  }

  .top-activities-content {
    display: grid;
    gap: 32px;
    margin-block-start: 40px;
  }

  .top-activities-image {

  }

  .top-activities-text {
    text-align: justify;
  }

  .top-activities-btn {
    margin-block-start: 56px;
    text-align: center;
  }

  @include mq() {
    .top-activities {

    }

    .top-activities-title {

    }

    .top-activities-list {
      // display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: calc(40px / var(--width-pc) * 100vw);
    }

    .top-activities-item {
      // padding-block: 40px;
      padding-inline: 24px;
      // background-color: var(--color-white);
    }

    .top-activities-title-lv3 {
      // text-align: center;
    }

    .top-activities-step {
      // img {
      //   width: 84px;
      // }

      // &--02 {
      //   img {
      //     width: 85px;
      //   }
      // }
    }

    .top-activities-sub-title {
      // margin-block-start: 16px;
    }

    .top-activities-main-title {
      // margin-block-start: 4px;
    }

    .top-activities-content {
      // display: grid;
      // gap: 32px;
      // margin-block-start: 40px;
    }

    .top-activities-image {

    }

    .top-activities-text {
      // text-align: justify;
    }

    .top-activities-btn {
      margin-block-start: 80px;
      // text-align: center;
    }
  }
</style>
