---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/common/Button.astro";
import BreadCrumb from "../../components/common/Breadcrumb.astro";
import CtaArea from "../../components/common/CtaArea.astro";
---

<Layout
  title="よくある質問 about｜習志野市の幼稚園｜みもみ幼稚園"
  ogType="website"
  description="習志野市のみもみ幼稚園に関する、よくある質問をカテゴリー別にご紹介しています。預かり保育や給食から、子どもの成長に関することまで、安心してご利用いただけるよう丁寧にお答えしています。"
>
  <div class="single">
    <main class="single-main">
      <article class="single-article">
        <div class="l-container">
          <div class="single-head">
            <h1 class="single-title c-heading-md">記事タイトル記事タイトル記事タイトルル記事タイトル</h1>
            <div class="single-meta">
              <span class="single-category">対外活動</span>
              <time datetime="2023-03-01" class="single-date">2023.03.01</time>
            </div><!-- /.single-meta -->
          </div><!-- /.single-head -->
          <div class="single-thumbnail">
            <img src="../../../public/assets/images/global/pic-news-thumbnail01@2x.jpg" alt="" loading="lazy" decoding="async" width="350" height="230">
          </div><!-- /.single-thumbnail -->

          <div class="single-content">
            <h2>見出しレベル2</h2>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト<u>お知らせテキスト</u>お知らせテキストお知らせテキスト<strong>お知らせテキスト</strong></p>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト<em>お知らせテキスト</em>お知らせテキストお知らせテキストお知らせテキスト<a href="#">お知らせテキスト</a></p>
            <img src="../../../public/assets/images/global/pic-news-thumbnail01@2x.jpg" alt="">
            <h3>見出しレベル3</h3>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <ul>
              <li>リストが入ります</li>
              <li>リストが入りますリストが入りますリストが入りますリストが入ります</li>
              <li>リストが入ります</li>
            </ul>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <ol>
              <li>リストが入ります</li>
              <li>リストが入りますリストが入りますリストが入りますリストが入ります</li>
              <li>リストが入ります</li>
            </ol>
            <h2>見出しレベル2見出しレベル2</h2>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <h3>見出しレベル3見出しレベル3</h3>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <h3>見出しレベル3見出しレベル3</h3>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <h3>見出しレベル3見出しレベル3</h3>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <h2>見出しレベル2見出しレベル2</h2>
            <h3>見出しレベル3見出しレベル3</h3>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <h2>見出しレベル2見出しレベル2見出しレベル2見出しレベル2</h2>
            <h3>見出しレベル3見出しレベル3</h3>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <h3>見出しレベル3見出しレベル3見出しレベル3見出しレベル3</h3>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <p>お知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキストお知らせテキスト</p>
            <img src="../../../public/assets/images/global/pic-news-thumbnail01@2x.jpg" alt="">
            <img src="../../../public/assets/images/global/pic-news-thumbnail01@2x.jpg" alt="">
          </div><!-- /.single-content -->
        </div><!-- /.l-container -->
      </article>

      <div class="single-btn">
        <Button
          buttonClass="c-btn"
          buttonUrl="/news"
          buttonText="記事一覧へ戻る"
          buttonAriaLabel="お知らせ記事一覧へ戻る"
        />
      </div><!-- /.single-btn -->

      <!-- breadcrumb -->
      <BreadCrumb />
    </main>

    <!-- cta-area -->
    <CtaArea />
  </div><!-- /.single -->
</Layout>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .single {
    padding-block-start: 40px;
    margin-block-start: 60px;
  }

  .single-main {

  }

  .single-article {

  }

  .single-head {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }

  .single-title {
    text-align: justify;
  }

  .single-meta {
    display: flex;
    align-items: center;
    gap: 12px;
    line-height: 1.5;
  }

  .single-category {
    padding-block: 4px;
    padding-inline: 10px;
    background-color: var(--color-sub-green1);
    font-size: 12px;
    font-weight: 500;
  }

  .single-date {
    font-size: 14px;
  }

  .single-thumbnail {
    margin-block-start: 40px;
  }

  .single-content {
    margin-block-start: 40px;
  }

  .single-btn {
    margin-block-start: 80px;
    text-align: center;
  }


</style>
