---
type Crumb = { name: string; path?: string };

const {
  breadcrumbLists = [],
  breadcrumbClass = "",
} = Astro.props as {
  breadcrumbLists?: Crumb[];
  breadcrumbClass?: string;
};
---

<div class={breadcrumbClass}>
  <nav class="c-breadcrumb" aria-label="パンくずリスト">
    <ol class="c-breadcrumb-list">
      <li class="c-breadcrumb-item"><a href="/">ホーム</a></li>
      {breadcrumbLists.map((item, index) => {
        const isLast = index === breadcrumbLists.length - 1;

        return (
          <li class="c-breadcrumb-item">
            {!isLast && item.path ? (
              <a href={item.path}>{item.name}</a>
            ) : (
              <span aria-current="page">{item.name}</span>
            )}
          </li>
        );
      })}
    </ol>
  </nav>
</div>

<style is:global lang="scss">
  @use '../../styles/breakpoints' as *;

  .c-breadcrumb {
    padding-block-end: 88px;
    margin-block-start: 160px;
  }

  .c-breadcrumb-list {
    // display: flex;
    // gap: 10px;
    font-family: var(--font-family-serif);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
  }

  .c-breadcrumb-item {
    display: inline;
    position: relative;
    // display: flex;
    // align-items: center;
    // gap: 10px;
    &:first-child {
      text-transform: uppercase;
    }

    &:last-child {
      color: var(--color-sub-green2);
    }

    &:not(:last-child) {
      padding-inline-end: 20px;
      &::after {
        content: ">";
        position: absolute;
        top: -1px;
        right: 7px;
      }
    }

    a {
      padding-block: 4px;
    }

  }
</style>
