---

---

<div class="c-breadcrumb">
  <div class="l-container">
    ここにパンくずリストが入ります。
  </div><!-- /.l-container -->
</div><!-- /.c-breadcrumb -->

<style is:global lang="scss">
  @use '../../styles/breakpoints' as *;

  .c-breadcrumb {
    padding-block-end: 88px;
    margin-block-start: 160px;
  }

</style>
