---
import Button from "./Button.astro";
---

<div id="slider3" class="splide c-activity-reports-splide" role="group" aria-labelledby="co-creation-carousel-heading">
  <div class="splide__track c-activity-reports-splide-track">
    <ul class="splide__list c-activity-reports-list">
      <li class="splide__slide c-activity-reports-item">
        <h4 class="c-activity-reports-title">大分県企業と岩田学園高等学校とのビジネスコンテスト支援</h4>
        <div class="c-activity-reports-thumbnail">
          <img src="../../../public/assets/images/activities/pic-activities-overview-01@2x.png" alt="" loading="lazy" decoding="async" width="310" height="200">
        </div><!-- /.c-activity-reports-thumbnail -->
        <p class="c-activity-reports-text">大分県内企業と連携し、ビジネスコンテストに出場する高校生を支援しています。<br>関東に在住する大学生ならではの視点から、企画のブラッシュアップや情報整理などのサポートを行っています。</p>
        <div class="c-activity-reports-btn">
          <Button
            buttonClass="c-btn"
            buttonUrl="#"
            buttonText="詳しく見る"
            buttonAriaLabel="レポートの詳細を見る"
          />
        </div><!-- /.c-activity-reports-btn -->
      </li>
      <li class="splide__slide c-activity-reports-item">
        <h4 class="c-activity-reports-title">記事タイトル記事タイトル</h4>
        <div class="c-activity-reports-thumbnail">
          <img src="../../../public/assets/images/global/pic-news-noimage@2x.png" alt="" loading="lazy" decoding="async" width="310" height="200">
        </div><!-- /.c-activity-reports-thumbnail -->
        <p class="c-activity-reports-text">記事本文が入ります。記事本文が入ります。記事本文が入ります。記事本文が入ります。<br>記事本文が入ります。記事本文が入ります。記事本文が入ります。記事本文が入ります。</p>
        <div class="c-activity-reports-btn">
          <Button
            buttonClass="c-btn"
            buttonUrl="#"
            buttonText="詳しく見る"
            buttonAriaLabel="レポートの詳細を見る"
          />
        </div><!-- /.c-activity-reports-btn -->
      </li>
      <li class="splide__slide c-activity-reports-item">
        <h4 class="c-activity-reports-title">大分県企業と岩田学園高等学校とのビジネスコンテスト支援</h4>
        <div class="c-activity-reports-thumbnail">
          <img src="../../../public/assets/images/activities/pic-activities-networking-events01@2x.jpg" alt="" loading="lazy" decoding="async" width="310" height="200">
        </div><!-- /.c-activity-reports-thumbnail -->
        <p class="c-activity-reports-text">大分県内企業と連携し、ビジネスコンテストに出場する高校生を支援しています。<br>関東に在住する大学生ならではの視点から、企画のブラッシュアップや情報整理などのサポートを行っています。</p>
        <div class="c-activity-reports-btn">
          <Button
            buttonClass="c-btn"
            buttonUrl="#"
            buttonText="詳しく見る"
            buttonAriaLabel="レポートの詳細を見る"
          />
        </div><!-- /.c-activity-reports-btn -->
      </li>
    </ul>
  </div><!-- /.splide__track.c-activity-reports-splide-track -->
</div><!-- /.splide -->

<script>
  var splide = new Splide( '#slider3', {
    perPage: 2,
    focus: 0,
    omitEnd: true,
    gap: '24px',
    breakpoints: {
      767: {
        perPage: 1,
        gap : '24px',
      },
    },
    classes: {
      pagination: "splide__pagination c-activity-reports-pagination",
      page: "splide__pagination__page c-activity-reports-page",
    },
    arrows: false,
  } );

  splide.mount();
</script>

<style is:global lang="scss">
  @use '../../styles/breakpoints' as *;


</style>
