---
import { getVoices } from "../../library/microcms";
import { nl2br } from "../../utils/text";

const response = await getVoices({
  fields: ["id", "category", "text", "name", "title", "sortOrder", "publishedAt"],
  limit: 9,
  orders: "sortOrder,-publishedAt",
});

const voices = response.contents;
---

<div
  id="slider1"
  class="splide c-voices-splide"
  role="group"
  aria-labelledby="voices-carousel-heading"
>
  <div class="splide__track c-voices-splide-track">
    <ul class="splide__list c-voices-list">
      {
        voices.length > 0 ? (
          voices.map((item) => {
            return (
              <li class="splide__slide c-voices-item">
                <span class="c-voices-category">{item.category}</span>
                <p class="c-voices-text" set:html={nl2br(item.text)}></p>
                <div class="c-voices-name">
                  <span class="c-voices-display-name">{item.name} 様</span>
                  <span class="c-voices-title">{item.title}</span>
                </div>
              </li>
            );
          })
        ) : (
          <li class="splide__slide c-voices-item">
            <p class="c-voices-text">現在、表示できるご利用者の声がありません。</p>
          </li>
        )
      }
    </ul>
  </div><!-- /.splide__track.c-voices-splide-track -->
</div><!-- /.splide -->

<script>
  var splide = new Splide( '#slider1', {
    perPage: 3,
    focus: 0,
    omitEnd: true,
    gap: '24px',
    breakpoints: {
      900: {
        perPage: 2,
        gap : '24px',
      },
      560: {
        perPage: 1,
        gap : '12px',
      },
    },
    classes: {
      pagination: "splide__pagination c-voices-pagination",
      page: "splide__pagination__page c-voices-page",
    },
    arrows: false,
  } );

  splide.mount();
</script>

<style is:global lang="scss">
  @use '../../styles/breakpoints' as *;

  .c-voices-splide {
    position: relative;

    &::before {
      content: "";
      width: 20px;
      height: 18px;
      background-image: url(/assets/images/global/icon-voices-quote.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      position: absolute;
      top: -9px;
      left: 10px;
      z-index: 100;
    }
  }

  .c-voices-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 30px 20px;
    padding-inline: 20px;
    background-color: var(--color-white);
    position: relative;
    box-shadow: 0 5px 5px 0 rgb(205 216 205 / .4);
  }

  .c-voices-category {
    width: fit-content;
    padding-block: 5px;
    padding-inline: 10px;
    font-size: 12px;
    background-color: var(--color-sub-green2);
    color: var(--color-white);
    line-height: 1;

    @include mq() {
      font-size: 14px;
    }
  }

  .c-voices-text {
    text-align: justify;
  }

  .c-voices-name {
    margin-block-start: auto;
    text-align: right;
  }

  .c-voices-title {
    display: block;
  }

  // pagination
  .c-voices-pagination {
    bottom: calc(-16px + -32px);
  }

  .c-voices-page {
    width: 16px;
    height: 16px;
    margin-block: 0;
    margin-inline: 8px;
    background-color: var(--color-white);
    opacity: 1;

    &.is-active {
      background-color: var(--color-green);
      transform: none;
    }
  }
</style>
